<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'home.css' %}">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        
    <br>
    <br>
        <section>
            <div class = "image">
                <img src="{% static 'home.PNG' %}"> 
            </div>

            <div class = "content">
                <h2>Why Use an Automated Asset Allocator?</h2>
                <span><!-- line here --></span>

                <p>Organizations often find that the high cost of maintenance is reduced once an automated asset management process is in place. A solid preventive maintenance system is essential for critical equipment. And this is made easier through a systemized process that uses critical data such as installation and warranty info as well as maintenance history.</p>
                <h2>Generate a Customised ETF Portfolio</h2>
                <span><!-- line here --></span>
                <p>This optimised tool is designed to make it easy for you to invest in a low-cost yet well diversified portfolio.</p>
                <h2>Generate Portfolio Today!</h2>
                <p><button class="button button3">Sign Up</button>
                    <button class="button button3">Login</button></p>
            </div>
        
        </section>
        
    </body>
</html>